
<div class="container" style="max-width:100%;">

<div class="row">
  <div class="col-sm" style="max-width:10%; margin:1%;">
    <% for category in Category.all %>
    <div class="card" style="max-width: 100%;background-color:#fafafa;margin:1%;">
    <%= link_to category.name, category, :class => "text-body"%>

 </div>

   <% end %>
  </div>

  <div class="col-sm">
    <br>
    <h1>Search results</h1>

    <% @questions.each do |question| %>
    <div class="card" style="max-width: 100%;background-color:#fafafa;margin:1%;">
         <div class="card-body">
        <h5 class="card-title"><%= link_to question.title.html_safe, question, :class => "text-body"%></h5>


        <% if current_user == question.user %>
        <%= link_to 'Edit', edit_question_path(question), class: "btn btn-primary"  %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>

    <% end %>
  </div>


  </div>
</div>
