<div class="container">

  <div class="row">
    <div class="col">


    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    </div>
    <div class="row">

    <div class="col">
      <p class="h5"> Popular Posts </p>

    </div>
    </div>
    <div class="row">

    <div class="col-8">

    </div>
    <div class="col-4">
<p class="h5"> Up and coming Communities</p>

<div class="card" ">
  <ul class="list-group list-group-flush">

  </ul>
</div>
<%= link_to "View all",  class: "btn btn-primary mt-4" %>



    </div>
  </div>

</div>
